aiohttp==3.8.5
aiosignal==1.3.1
asgiref==3.7.2
async-timeout==4.0.2
attrs==23.1.0
beautifulsoup4==4.12.2
bs4==0.0.1
certifi==2023.5.7
charset-normalizer==3.2.0
Django==4.2.3
django-bootstrap5==23.3
django-cors-headers==4.2.0
djangorestframework==3.14.0
djangorestframework-jwt==1.11.0
djangorestframework-simplejwt==5.2.2
exceptiongroup==1.1.2
frozenlist==1.4.0
h11==0.14.0
idna==3.4
multidict==6.0.4
openai==0.27.8
outcome==1.2.0
Pillow==10.0.0
PyJWT==1.7.1
PySocks==1.7.1
python-dotenv==1.0.0
python-gettext==5.0
pytz==2023.3
requests==2.31.0
selenium==4.10.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.4.1
sqlparse==0.4.4
tqdm==4.65.0
trio==0.22.2
trio-websocket==0.10.3
urllib3==2.0.4
wsproto==1.2.0
yarl==1.9.2
